<div class="container">
<h1>Edit un acteur</h1>
<%= simple_form_for(@actor) do |f|%>
  <%= f.input :username, label: "Nom d'utilisateur" %>
  <%= f.input :mail, label: "E-mail" %>
  <%= f.input :price, label: "Tarif journalier" %>
  <%= f.input :description, label: "Description" %>
  <%= f.submit "Valider", class: "btn-ghost" %>
<% end %>

</div>
