<div class="form-container">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <h2>Modifier l'acteur</h2>
        <%= simple_form_for(@actor) do |f|%>
          <%= f.input :username, label: "Nom d'utilisateur" %>
          <%= f.input :mail, label: "E-mail" %>
          <%= f.input :price, label: "Tarif journalier" %>
          <%= f.input :description, label: "Description" %>
          <%= f.input :category, collection: Category::COLLECTION, label: "Vos spécialités" %>
          <%= f.input :photo, as: :file %>
          <%= f.submit "Valider", class: "btn-ghost" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
