<h2 class="profile_title">Découvrez le profil de <%= @actor.username%></h2>
<div class="card-product">
  <%= image_tag "celine.png", class: "profile_show" %>
  <div class="card-product-infos">
        <h2><%= @actor.username %></h2>
        <p><%= @actor.description %></p>
        <h2><%= @actor.price %> € / jour</h2>
        <% if current_user == @actor.user %>
        <%= link_to "Editer", edit_actor_path(@actor), class: "btn btn-ghost-2" %>
        <% else %>
        <%= link_to "Contacter", "#", class: "btn btn-ghost-2" %>
        <% end %>
</div>
</div>



<%# <%= link_to "delete", actor_path(@actor),
data: { turbo_method: :delete, turbo_confirm: "are you sure"} %>
