
<div class="main-container">

<div class="cards">

  <div class="card-trip">
    <%= image_tag "celine.png" %>
    <div class="card-trip-infos">
      <div>
        <h2>Céline Fion</h2>
        <p>J’irai où c’est que tu vas</p>
      </div>
      <h2 class="card-trip-pricing">30€</h2>
    </div>
  </div>

  <div class="card-trip">
    <%= image_tag "celine.png" %>
    <div class="card-trip-infos">
      <div>
        <h2>Céline Fion</h2>
        <p>J’irai où c’est que tu vas</p>
      </div>
      <h2 class="card-trip-pricing">30€</h2>
    </div>
  </div>

  <div class="card-trip">
    <%= image_tag "celine.png" %>
    <div class="card-trip-infos">
      <div>
        <h2>Céline Fion</h2>
        <p>J’irai où c’est que tu vas</p>
      </div>
      <h2 class="card-trip-pricing">30€</h2>
    </div>
  </div>

    <div class="card-trip">
    <%= image_tag "celine.png" %>
    <div class="card-trip-infos">
      <div>
        <h2>Céline Fion</h2>
        <p>J’irai où c’est que tu vas</p>
      </div>
      <h2 class="card-trip-pricing">30€</h2>
    </div>
  </div>

      <div class="card-trip">
    <%= image_tag "celine.png" %>
    <div class="card-trip-infos">
      <div>
        <h2>Céline Fion</h2>
        <p>J’irai où c’est que tu vas</p>
      </div>
      <h2 class="card-trip-pricing">30€</h2>
    </div>
  </div>

      <div class="card-trip">
    <%= image_tag "celine.png" %>
    <div class="card-trip-infos">
      <div>
        <h2>Céline Fion</h2>
        <p>J’irai où c’est que tu vas</p>
      </div>
      <h2 class="card-trip-pricing">30€</h2>
    </div>
  </div>

  </div>
</div>
