<div class="container">
  <div class="categories">
    <div class="categories_link">

      <div class="text-center">
        <%= link_to actors_path(query: "Événement") do %>
        <div>
        <i class="fa-solid fa-calendar" style="color: #717171;"></i>
        <% end %>
        </div>
        <span>Événement</span>

      </div>
      <div class="text-center">
         <%= link_to actors_path(query: "Famille") do %>
         <div>
        <i class="fa-solid fa-snowman" class="icone" style="color: #717171;"></i>
        <% end %>
        </div>
        <span> Famille </span>

      </div>
      <div class="text-center">
          <%= link_to actors_path(query: "Travail") do %>
          <div>
        <i class="fa-solid fa-business-time" class="icone" style="color: #717171;"></i>
        <% end %>
        </div>
        <span> Travail </span>

      </div>
      <div class="text-center">
         <%= link_to actors_path(query: "Amour") do %>
         <div>
        <i class="fa-solid fa-heart" class="icone" style="color: #717171;"></i>
        <% end %>
        </div>
        <span> Amour </span>

      </div>
      <div class="text-center">
          <%= link_to actors_path(query: "Accompagnement") do %>
          <div>
        <i class="fa-solid fa-handshake" class="icone" style="color: #717171;"></i>
        <% end %>
        </div>
        <span> Accompagnement </span>

      </div>
      <div class="text-center">
          <%= link_to actors_path(query: "Scolaire") do %>
          <div>
        <i class="fa-solid fa-user-graduate" class="icone" style="color: #717171;"></i>
        <% end %>
        </div>
        <span> Scolaire </span>

      </div>
    </div>
  </div>
</div>
